@model MySchoolCollege.Models.ModelViews.UtilisateurViewModel

@{
    ViewBag.Title = "Ajouter un utilisateur";
}

<h2>Ajouter un Utilisateur</h2>




<div id="content">



    <!-- widget grid -->
    <section id="widget-grid" class="">

        <!-- row -->
        <div class="row">

            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0">
                    <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"

                    -->
                    <header>
                        <h2><strong>Ajouter un </strong> <i>utilisateur</i></h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                            <input class="form-control" type="text">
                            <span class="note"><i class="fa fa-check text-success"></i> Change title to update and save instantly!</span>

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">

                            @using (Html.BeginForm("AjouterUtilisateur", "Admin", FormMethod.Post, new { @class = "smart-form" }))
                            {
                                @Html.AntiForgeryToken()
                                <header>Ajouter un utilisateur</header>

                                @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
                                @Html.ValidationSummary("", new { @class = "text-danger padding" })
                                
                                <div class="alert-danger">
                                    @ViewBag.MessageError
                                </div>
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-6">

                                            <label class="input">
                                                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { placeholder = "Nom d'utilisateur" } })
                                                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                            </label>
                                        </section>
                                        </div>
                                        <div class="row">
                                            <section class="col col-6">

                                                <label class="input">
                                                    @Html.EditorFor(model => model.Matricule, new { htmlAttributes = new { placeholder = "Matricule" } })
                                                    @Html.ValidationMessageFor(model => model.Matricule, "", new { @class = "text-danger" })
                                                </label>
                                            </section>
                                            <section class="col col-6">

                                                <label class="select">
                                                    @Html.EnumDropDownListFor(model => model.Civillite, "Civilité", "disabled")
                                                    <i></i>
                                                    @Html.ValidationMessageFor(model => model.Civillite, "", new { @class = "text-danger" })
                                                </label>
                                            </section>
                                        </div>
                                        <div class="row">
                                            <section class="col col-6">

                                                <label class="input">
                                                    @Html.EditorFor(model => model.Prenom, new { htmlAttributes = new { placeholder = "Prénom" } })
                                                    @Html.ValidationMessageFor(model => model.Prenom, "", new { @class = "text-danger" })
                                                </label>
                                            </section>
                                            <section class="col col-6">

                                                <label class="input">
                                                    @Html.EditorFor(model => model.Nom, new { htmlAttributes = new { placeholder = "Nom" } })
                                                    @Html.ValidationMessageFor(model => model.Nom, "", new { @class = "text-danger" })
                                                </label>
                                            </section>
                                        </div>
                                        <div class="row">
                                            <section class="col col-6">

                                                <label class="input">
                                                    <i class="icon-append fa fa-calendar"></i>
                                                    @Html.EditorFor(model => model.DateNaissance, new { htmlAttributes = new { @class = "datepicker", placeholder = "Date de naissance" } })
                                                    @Html.ValidationMessageFor(model => model.DateNaissance, "", new { @class = "text-danger" })
                                                </label>
                                            </section>
                                            <section class="col col-6">

                                                <label class="input">

                                                    @Html.EditorFor(model => model.LieuDeNaissance, new { htmlAttributes = new { placeholder = "Lieu de naissance" } })
                                                    @Html.ValidationMessageFor(model => model.LieuDeNaissance, "", new { @class = "text-danger" })
                                                </label>
                                            </section>
                                        </div>
                                        <div class="row">
                                            <section class="col col-6">
                                                <label class="input">
                                                    @Html.EditorFor(model => model.Nationalite, new { htmlAttributes = new { placeholder = "Nationalité" } })
                                                    @Html.ValidationMessageFor(model => model.Nationalite, "", new { @class = "text-danger" })
                                                </label>
                                            </section>
                                            <section class="col col-6">
                                                <label class="input">
                                                    <i class="icon-append fa fa-envelope-o"></i>
                                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { placeholder = "Email" } })
                                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                                </label>
                                            </section>

                                        </div>
                                        <div class="row">
                                            <section class="col col-6">
                                                <label class="input">
                                                    @Html.EditorFor(model => model.Telephone, new { htmlAttributes = new { placeholder = "Téléphone" } })
                                                    @Html.ValidationMessageFor(model => model.Telephone, "", new { @class = "text-danger" })
                                                </label>
                                            </section>
                                            <section class="col col-6">
                                                <label class="input">
                                                    @Html.EditorFor(model => model.CodePostal, new { htmlAttributes = new { placeholder = "Code postal" } })
                                                    @Html.ValidationMessageFor(model => model.CodePostal, "", new { @class = "text-danger" })
                                                </label>
                                            </section>
                                        </div>
                                        <section>

                                            <label class="input">
                                                <i class="icon-append fa fa-map-marker"></i>
                                                @Html.EditorFor(model => model.Adresse, new { htmlAttributes = new { placeholder = "Adresse" } })
                                                @Html.ValidationMessageFor(model => model.Adresse, "", new { @class = "text-danger" })
                                            </label>
                                        </section>

                                        <div class="row">
                                            <section class="col col-6">

                                                <label class="input">

                                                    @Html.EditorFor(model => model.Ville, new { htmlAttributes = new { placeholder = "Ville" } })
                                                    @Html.ValidationMessageFor(model => model.Ville, "", new { @class = "text-danger" })
                                                </label>
                                            </section>
                                            <section class="col col-6">

                                                <label class="input">

                                                    @Html.EditorFor(model => model.Pays, new { htmlAttributes = new { placeholder = "Pays" } })
                                                    @Html.ValidationMessageFor(model => model.Pays, "", new { @class = "text-danger" })
                                                </label>
                                            </section>
                                        </div>
                                        <div class="row">
                                            <section class="col col-6">

                                                <label class="input">
                                                    <i class="icon-append fa fa-lock"></i>
                                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { placeholder = "Mot de passe" } })
                                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                                </label>
                                            </section>
                                            <section class="col col-6">

                                                <label class="input">
                                                    <i class="icon-append fa fa-lock"></i>
                                                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { placeholder = "Confirmer le mot de passe" } })
                                                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                                </label>
                                            </section>
                                        </div>

                                        <div class="row">
                                            <section class="col col-6">

                                                <label class="select">

                                                    @Html.DropDownListFor(model => model.ApplicationRoleId, Model.ApplicationRoles, "Sélectionner un Groupe", new { htmlAttributes = new { placeholder = "Sélectionner un groupe" } })
                                                    <i></i>
                                                    @Html.ValidationMessageFor(model => model.ApplicationRoleId, "", new { @class = "text-danger" })
                                                </label>
                                            </section>
                                            <section class="col col-6">

                                                <label class="select">
                                                    @Html.DropDownListFor(model => model.FonctionId, Model.Fonctions, "Sélectionner la fonction", new { htmlAttributes = new { placeholder = "Fonction" } })
                                                    <i></i>
                                                    @Html.ValidationMessageFor(model => model.FonctionId, "", new { @class = "text-danger" })
                                                </label>
                                            </section>
                                        </div>
                                        <section>

                                            <label class="select">
                                                @Html.DropDownListFor(model => model.ParentId, Model.Parents, "Sélectionner un parent")
                                                <i></i>
                                                @Html.ValidationMessageFor(model => model.ParentId, "", new { @class = "text-danger" })
                                            </label>
                                        </section>
</fieldset>
                                <footer>

                                    <button class="btn btn-primary" type="submit">
                                        Ajouter
                                    </button>
                                    <button class="btn btn-default" onclick="window.history.back();" type="button">
                                        Annuler
                                    </button>

                                </footer>

                            }

                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->


            </article>
            <!-- WIDGET END -->
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-2" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false">
                    <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"

                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-question"></i> </span>
                        <h2 class="font-md"><strong>Guide</strong> <i>d'utilisation</i></h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body smart-form no-padding">
                            <header>Cette formulaire vous permez d'ajouter un utilisateur</header>

                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->



            </article>
            <!-- WIDGET END -->


        </div>

        <!-- end row -->


    </section>
    <!-- end widget grid -->

</div>

@section pagespecific {
    <script type="text/javascript">

        // DO NOT REMOVE : GLOBAL FUNCTIONS!

        $(document).ready(function () {
            
            $.datepicker.setDefaults($.datepicker.regional["fr"]);
            $('.datepicker').datepicker({
                dateFormat: 'dd/mm/yy'

            });

           

        })
     </script>


}


