@model MySchoolLibrary2018.Models.ModelViews.UtilisateurViewModel
@{
    ViewBag.Title = "Details Utilisateur ";
}
<div id="content">
    @Html.Partial("_Message")
    <h2>Details Utilisateur Matricule: @Model.Matricule</h2>
    <div class="jarviswidget jarviswidget-sortable" id="wid-id-11" role="widget" data-widget-custombutton="false" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-togglebutton="false">
        <!-- widget options:
            usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

            data-widget-colorbutton="false"
            data-widget-editbutton="false"
            data-widget-togglebutton="false"
            data-widget-deletebutton="false"
            data-widget-fullscreenbutton="false"
            data-widget-custombutton="false"
            data-widget-collapsed="true"
            data-widget-sortable="false"

        -->
        <header class="ui-sortable-handle" role="heading">
            <h2><strong>Détails utilisateur Matricule:</strong> <i>@Model.Matricule</i></h2>

            <ul class="nav nav-tabs pull-right" id="widget-tab-1">
                <li class="active">
                    <a href="#hr1" data-toggle="tab"> <i class="fa fa-lg fa-arrow-circle-o-down"></i> <span class="hidden-mobile hidden-tablet"> Informations </span> </a>
                </li>
                <li>
                    <a href="#hr2" data-toggle="tab"> <i class="fa fa-lg fa-arrow-circle-o-up"></i> <span class="hidden-mobile hidden-tablet"> Groupes </span></a>
                </li>
            </ul>

            <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
        </header>
        <!-- widget div-->
        <div role="content">

            <!-- widget edit box -->
            <div class="jarviswidget-editbox">
                <!-- This area used as dropdown edit box -->

            </div>
            <!-- end widget edit box -->
            <!-- widget content -->
            <div class="widget-body no-padding">
                <!-- widget body text-->

                <div class="tab-content padding-10">
                    <div class="tab-pane fade in active" id="hr1">

                        <h4 class="alert"> @Model.Prenom @Model.Nom</h4>
                        Tel: @Model.Telephone
                        <address>@Model.Adresse</address>

                    </div>
                    <div class="tab-pane fade" id="hr2">
                        <h4>Les groupes de l'utilisateur</h4>
                        <table id="dt_basic" class="table table-striped table-bordered table-hover dataTable no-footer" width="100%" role="grid" aria-describedby="dt_basic_info" style="width: 100%;">
                            <thead>
                                <tr role="row">
                                    <th>Id</th>
                                    <th>
                                        @*@Html.DisplayNameFor(model => model.RoleName)*@
                                        Nom
                                    </th>
                                    <th>
                                        @*@Html.DisplayNameFor(model => model.Description)*@
                                        Description
                                    </th>
                                    
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model.Roles)
                                {
                                    <tr role="row">
                                        <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>
                                        
                                    </tr>
                                }
                            </tbody>
                        </table>
                        

                    </div>
                </div>

                <!-- end widget body text-->
                <!-- widget footer -->
                <div class="widget-footer text-right">
                </div>
                <!-- end widget footer -->

            </div>
            <!-- end widget content -->

        </div>
        <!-- end widget div -->

    </div>
</div>