@model MySchoolLibrary2018.Models.ModelViews.ListeAnneeScolaireViewModel
@{
    ViewBag.Title = "Détails Année Scolaire";
}
<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-list-alt fa-calendar"></i>
                Année scolaire <b>@Model.AnneeAcademique</b>
            </h1>
        </div>
    </div>
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="jarviswidget" id="wid-id-7" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false" role="widget" style="">
                    <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                    data-widget-colorbutton="false"
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="true"
                    data-widget-sortable="false"

                    -->
                    <header role="heading">
                        <div class="jarviswidget-ctrls" role="menu">   <a href="javascript:void(0);" class="button-icon jarviswidget-toggle-btn" rel="tooltip" title="" data-placement="bottom" data-original-title="Collapse"><i class="fa fa-minus "></i></a>  <a href="javascript:void(0);" class="button-icon jarviswidget-delete-btn" rel="tooltip" title="" data-placement="bottom" data-original-title="Delete"><i class="fa fa-times"></i></a></div>
                        <ul class="nav nav-tabs pull-left in">

                            <li class="active">

                                <a data-toggle="tab" href="#hr1" aria-expanded="true"> <i class="fa fa-lg fa-arrow-circle-o-down"></i> <span class="hidden-mobile hidden-tablet"> Informations </span> </a>

                            </li>

                            <li class="">
                                <a data-toggle="tab" href="#hr2" aria-expanded="false"> <i class="fa fa-lg fa-arrow-circle-o-up"></i> <span class="hidden-mobile hidden-tablet"> Divers </span> </a>
                            </li>

                        </ul>
                        <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
                    </header>

                    <!-- widget div-->
                    <div role="content">

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">

                            <div class="tab-content">
                                <div class="tab-pane active" id="hr1">

                                    <div class="tabbable tabs-below">
                                        <div class="tab-content padding-10">
                                            <div class="tab-pane active" id="AA">
                                                <div>
                                                    <div>
                                                        <b>Année Académique:</b> @Model.AnneeAcademique
                                                    </div>
                                                    <div>
                                                        <b>Description:</b> @Model.Description
                                                    </div>
                                                    <div>
                                                        <b>Créer le:</b> @Model.DateCreation
                                                    </div>
                                                    <div>
                                                        <b>Modifier le:</b> @Model.DateModification
                                                    </div>
                                                    <div>
                                                        <b>Créer par:</b> @Model.CreerPar.Prenom @Model.CreerPar.Nom (@Model.CreerPar.Matricule)
                                                    </div>
                                                    <div>
                                                        <b>Modifier par:</b>  @Model.Modifierpar.Prenom @Model.Modifierpar.Nom (@Model.Modifierpar.Matricule)
                                                    </div>
                                                    <div>
                                                        <b>Périodes:</b> @Model.Periodes.Count
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="BB">
                                                <p>
                                                    data here tab2
                                                </p>
                                            </div>
                                            <div class="tab-pane" id="CC">
                                                <p>
                                                    data here tab3
                                                </p>
                                            </div>
                                        </div>
                                        <ul class="nav nav-tabs">
                                            <li class="active">
                                                <a data-toggle="tab" href="#AA" aria-expanded="false">Détails</a>
                                            </li>
                                            <li>
                                                <a data-toggle="tab" href="#BB" aria-expanded="false">Classes</a>
                                            </li>
                                            <li>
                                                <a data-toggle="tab" href="#CC" aria-expanded="false">Unités d'enseignement</a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                                <div class="tab-pane " id="hr2">

                                    <ul class="nav nav-tabs">
                                        <li class="active">
                                            <a href="#iss1" data-toggle="tab" aria-expanded="true">Item 1</a>
                                        </li>
                                        <li>
                                            <a href="#iss2" data-toggle="tab" aria-expanded="true">Item 2</a>
                                        </li>
                                        <li>
                                            <a href="#iss3" data-toggle="tab" aria-expanded="true">Item 3</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content padding-10">
                                        <div class="tab-pane active" id="iss1">
                                            <p>
                                                data here item1
                                            </p>
                                        </div>
                                        <div class="tab-pane fade" id="iss2">
                                            <p>
                                                data here item2
                                            </p>
                                        </div>
                                        <div class="tab-pane fade" id="iss3">
                                            <p>
                                                data here item3
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
            </article>
            <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="jarviswidget" id="wid-id-5" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false" role="widget">
                    <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                    data-widget-colorbutton="false"
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="true"
                    data-widget-sortable="false"

                    -->
                    <header role="heading">
                        <div class="jarviswidget-ctrls" role="menu">   <a href="javascript:void(0);" class="button-icon jarviswidget-toggle-btn" rel="tooltip" title="" data-placement="bottom" data-original-title="Collapse"><i class="fa fa-minus"></i></a>  <a href="javascript:void(0);" class="button-icon jarviswidget-delete-btn" rel="tooltip" title="" data-placement="bottom" data-original-title="Delete"><i class="fa fa-times"></i></a></div>
                        <h2>Détails </h2>

                        <span class="jarviswidget-loader" style="display: none;"><i class="fa fa-refresh fa-spin"></i></span>
                    </header>

                    <!-- widget div-->
                    <div role="content" style="display: block;">

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">

                            <div class="tabs-left">
                                <ul class="nav nav-tabs tabs-left" id="demo-pill-nav">
                                    <li class="active">
                                        <a href="#tab-r1" data-toggle="tab" aria-expanded="true">Périodes</a>
                                    </li>
                                    <li class="">
                                        <a href="#tab-r2" data-toggle="tab" aria-expanded="false"><span class="badge bg-color-blueDark txt-color-white">3</span> Item 2</a>
                                    </li>
                                    <li class="">
                                        <a href="#tab-r3" data-toggle="tab" aria-expanded="false"><span class="badge bg-color-greenLight txt-color-white">0</span> Item 3</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab-r1">
                                        <table class="table table-bordered table-striped table-condensed table-hover smart-form has-tickbox">
                                            <tr>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Periodes.First().DateDebut)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Periodes.First().DateFin)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Periodes.First().Periode)
                                                </th>

                                            </tr>

                                            @foreach (var item in Model.Periodes)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.DateDebut)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.DateFin)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Periode)
                                                    </td>


                                                </tr>
                                            }

                                        </table>
                                    </div>
                                    <div class="tab-pane" id="tab-r2">
                                        <p>
                                            data here item2
                                        </p>
                                    </div>
                                    <div class="tab-pane" id="tab-r3">
                                        <p>
                                            data here item3
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>

            </article>

        </div>
        <!-- end row -->
    </section>
    <!-- end widget grid -->
</div>


