@model MySchoolLibrary2018.Models.ModelViews.MinistereViewModel

@{
    ViewBag.Title = "Modifier un Ministère";
}

<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa  fa-users"></i>
                Ministères
            </h1>
        </div>
    </div>
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">

            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0">
                    <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"

                    -->
                    <header>
                        <h2><strong>Modifier un </strong> <i>Ministère</i></h2>

                    </header>
                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                            <input class="form-control" type="text">
                            <span class="note"><i class="fa fa-check text-success"></i> Change title to update and save instantly!</span>

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">
                            @using (Html.BeginForm("ModifierMinistere", "Parametre", FormMethod.Post, new { @class = "smart-form" }))
                            {
                                @Html.AntiForgeryToken()
                                <header>Ajouter un Ministère</header>


                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.Id)
                                @Html.HiddenFor(model => model.CreerLe)
                                @Html.HiddenFor(model => model.CreerParId)
                                <fieldset>

                                    <section class="">

                                        <label class="input">
                                            @Html.EditorFor(model => model.Nom, new { htmlAttributes = new { placeholder = "Nom de l'Organisme" } })
                                            @Html.ValidationMessageFor(model => model.Nom, "", new { @class = "text-danger" })
                                        </label>
                                    </section>

                                    <div class="row">
                                        <section class="col col-6">

                                            <label class="input">
                                                @Html.EditorFor(model => model.Telephone, new { htmlAttributes = new { placeholder = "Téléphone" } })
                                                @Html.ValidationMessageFor(model => model.Telephone, "", new { @class = "text-danger" })
                                            </label>
                                        </section>
                                        <section class="col col-6">

                                            <label class="input">
                                                @Html.EditorFor(model => model.Adresse, new { htmlAttributes = new { placeholder = "Adresse" } })
                                                @Html.ValidationMessageFor(model => model.Adresse, "", new { @class = "text-danger" })
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-6">

                                            <label class="input">
                                                @Html.EditorFor(model => model.Ville, new { htmlAttributes = new { placeholder = "Ville" } })
                                                @Html.ValidationMessageFor(model => model.Ville, "", new { @class = "text-danger" })
                                            </label>
                                        </section>
                                        <section class="col col-6">

                                            <label class="input">
                                                @Html.EditorFor(model => model.Pays, new { htmlAttributes = new { placeholder = "Pays" } })
                                                @Html.ValidationMessageFor(model => model.Pays, "", new { @class = "text-danger" })
                                            </label>
                                        </section>
                                    </div>

                                </fieldset>
                                <footer>
                                    <button class="btn btn-default" onclick="windows.history.back();">
                                        Annuler
                                    </button>
                                    <button class="btn btn-primary" type="submit">
                                        Modifier
                                    </button>
                                </footer>

                            }


                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <!-- WIDGET END -->
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-2" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false">
                    <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"

                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-question"></i> </span>
                        <h2 class="font-md"><strong>Guide</strong> <i>d'utilisation</i></h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body smart-form no-padding">
                            <header>Cette formulaire vous permez de modifier un Ministère</header>

                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->



            </article>
            <!-- WIDGET END -->
        </div>
        <!--end row-->
    </section>
    <!--end widget grid-->
</div>

