@model MySchoolLibrary2018.Models.ModelViews.MotifAbsenceViewModel
@{
    ViewBag.Title = "Ajouter un Motif d'absence";
}
<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa  fa-users"></i>
                Motifs d'absence
            </h1>
        </div>
    </div>
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">

            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0">
                    <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"

                    -->
                    <header>
                        <h2><strong>Ajouter un </strong> <i>motif d'absence</i></h2>

                    </header>
                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                            <input class="form-control" type="text">
                            <span class="note"><i class="fa fa-check text-success"></i> Change title to update and save instantly!</span>

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">
                            @using (Html.BeginForm("ModifierMotifAbsence", "Parametre", FormMethod.Post, new { @class = "smart-form" }))
                            {
                                @Html.AntiForgeryToken()
                                <header>Modifier un motif d'absence</header>


                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.Id)
                                <fieldset>
                                   
                                    <section>

                                        <label class="input">
                                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { placeholder = "Description" } })
                                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                        </label>
                                    </section>

                                    <section>
                                        <label class="label">Optionnel</label>
                                        <div class="inline-group">
                                            <label class="checkbox">
                                                @Html.CheckBoxFor(model => model.Recevable)
                                                <i></i>
                                                Recevable
                                            </label>
                                            <label class="checkbox">
                                                @Html.CheckBoxFor(model => model.ReglerAdministrativement)
                                                <i></i>
                                                Régler administrativement
                                            </label>
                                            <label class="checkbox">
                                                @Html.CheckBoxFor(model => model.HorsEtablissement)
                                                <i></i>
                                                Hors établissement
                                            </label>
                                            <label class="checkbox">
                                                @Html.CheckBoxFor(model => model.Sante)
                                                <i></i>
                                                Santé
                                            </label>
                                        </div>
                                    </section>
                                    <section>

                                        <label class="input">

                                        </label>
                                    </section>
                                </fieldset>
                                <footer>
                                    <button class="btn btn-default" onclick="windows.history.back();">
                                        Annuler
                                    </button>
                                    <button class="btn btn-primary" type="submit">
                                        Modifier
                                    </button>
                                </footer>

                            }


                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <!-- WIDGET END -->
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-2" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false">
                    <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"

                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-question"></i> </span>
                        <h2 class="font-md"><strong>Guide</strong> <i>d'utilisation</i></h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body smart-form no-padding">
                            <header>Cette formulaire vous permez de modifier un motif d'absence</header>

                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->



            </article>
            <!-- WIDGET END -->
        </div>
        <!--end row-->
    </section>
    <!--end widget grid-->
</div>



