﻿@using MySchoolLibrary2018.Models
@model LoginViewModel
@{
    ViewBag.PageId = "extr-page";
    ViewBag.PageClass = "animated fadeInDown";
}

@section topright{
    <span id="extr-page-header-space"> <span class="hidden-mobile">Demander un démo</span> <a href="@Url.Action("register", "account")" class="btn btn-danger">Demander</a> </span>
}

<div id="content" class="container">
    <div class="row">
        @{ Html.RenderPartial("_LoginText"); }
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
            <div class="well no-padding">
                <form action="@Url.Action("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl })" method="POST" id="login-form" class="smart-form client-form">
                    <header>
                        Sign In
                    </header>
                  
                    @Html.AntiForgeryToken()
                    @Html.ValidationBootstrap()
                    <fieldset>
                        <section>
                            <label class="label">E-mail</label>
                            <label class="input">
                                <i class="icon-append fa fa-user"></i>
                                <input type="email" name="email" value="">
                                <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Entrer votre Email</b>
                            </label>
                        </section>

                        <section>
                            <label class="label">Password</label>
                            <label class="input">
                                <i class="icon-append fa fa-lock"></i>
                                <input type="password" name="password" value="">
                                <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Entrer votre mot de passe</b>
                            </label>
                            <div class="note">
                                <a href="@Url.Action("ForgotPassword", "Account")"><i class="fa fa-frown-o"></i> Mot de passe oublié?</a>
                            </div>
                        </section>

                        <section>
                            <label class="checkbox">
                                <input type="checkbox" name="rememberMe" value="true" checked="checked">
                                <input type="hidden" name="rememberMe" value="false" />
                                <i></i>Rester connecté
                            </label>
                        </section>
                    </fieldset>
                    <footer>
                        <button type="submit" class="btn btn-primary">
                            Se connecter
                        </button>
                    </footer>
                </form>
            </div>
          
        </div>
    </div>
</div>
@section pagespecific {
    <script type="text/javascript">
        $(function () {
            // Validation
            $("#login-form").validate({
                // Rules for form validation
                rules: {
                    email: {
                        required: true,
                        email: true
                    },
                    password: {
                        required: true,
                        minlength: 3,
                        maxlength: 20
                    }
                },

                // Messages for form validation
                messages: {
                    email: {
                        required: 'S\'il vous plaît entrer votre adresse e-mail',
                        email: 'S\'il vous plaît, mettez une adresse email valide'
                    },
                    password: {
                        required: 's\'il vous plait entrez votre mot de passe'
                    }
                },

                // Do not change code below
                errorPlacement: function (error, element) {
                    error.insertAfter(element.parent());
                }
            });
        });
    </script>
}